<div class="container">
  <h1>Quotes</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
        <div>
          <h6 id={{i}} >{{quote.Author}} on {{quote.completeDate|date}}</h6>
          <button class="btn btn-info" (click)="upvote(i)">Upvote </button>

          <button class="btn btn-info" (click)="downvote(i)">Downvote </button>
          
          <button (click)='toggleDetails(i)' class="btn btn-primary">See Quote</button>
        </div>

        <div *ngIf='quote.showQuot'>
          <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
